# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/
dist/
dist-ssr/

# Env files (DO NOT COMMIT SECRETS)
.env
.env.*
!.env.example

# Local files
*.local

# OS and editor files
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
logs
*.log
lerna-debug.log*

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
